@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.otf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Regular.otf);
}

body {
	/* background:#032931; */
}


.container {
	width:960px !important;
}
#header {
	height:231px;
	background:#2b0046 url('images/bg.jpg') top center no-repeat;
}

#logo {
	margin-top:20px;
	text-align:center;
}

#mainmenu{
	font-family:OpenSans-Bold;
	background: url('images/bg-menu.png')repeat-x;
}

#mainmenu ul {
	padding-left:0px;
	margin-bottom:0px;
}

#mainmenu ul li {
	display:inline-block;
}

#mainmenu ul li a {
	padding:20px;
	display:block;
	color:#053D49;
	border-right:2px solid #053F4B;
}

#mainmenu ul li a.first {
	border-left:2px solid #053F4B;
}

#mainmenu ul li a:hover {
	text-decoration:none;
}

#slideshow {
	background:url('images/slideshowbg.png') repeat;
}

#slidespace {
	height:15px;
	background:url('images/slidespacebg.jpg') repeat;
	border-bottom:2px solid #042932;
}

#content {
	background:#2b0046;
}

#content-wrapper {
	padding:10px;
	padding-top:0px;
	margin-top:15px;
	margin-bottom:15px;
	background:#ffffff;
}

#column2-content {
	margin-right:20px;
	margin-left:10px;
	font-family:OpenSans-Regular
}

#tautan a {
	text-decoration:none;
	font-size:16px;
	color:#000000;
	margin:0px;
}

#pengumuman-penting{
	margin-top:10px;
}

#login-sim-kjp {
	
}

#panduan-operator-sekolah {
	
}

#format-usulan-kjp {
	
}

#hotline-service-kjp {
	
}

#daftar-siswa-penerima-kjp {
	
}

#berita{
	margin-top:30px;
	border:0px solid #053D49;
	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.sidebar-box {
	margin-bottom:15px;
}

.sidebar-box img {
	border:0px solid #053D49;
	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

#text
{
    font-size:12px;
    left:0px;
    margin-top:-80px;
	font-family:OpenSans-Regular
}

#text a
{
    font-size:15px;
	font-family:OpenSans-Regular
}

#column2-content {
	
}

/*
.mainmenu div
{
	display:inline-block;
}

#home img{
	width:85px;
}


#menu1 img{
	width:262px;
}

#menu2 img{
	width:275px;
}

#menu3 img{
	width:308px;
}
*/

#footer {
	background: url('images/bg-menu.png') repeat-x bottom center;
	color:#000;
}